@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
background-color:#f8f8f7
}

a,
.green {
  text-decoration: none;
  color:#fff;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
color:red;
  }
}
